@import "tailwindcss";

/* Custom Scrollbar for Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #09090b;
    /* zinc-950 */
}

::-webkit-scrollbar-thumb {
    background: #27272a;
    /* zinc-800 */
    border-radius: 6px;
    border: 3px solid #09090b;
    /* Creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
    /* zinc-700 */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #27272a #09090b;
}

html,
body {
    overflow-y: auto;
    height: 100%;
    background-color: black;
    /* Ensure background is black behind scrollbar */
}